# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Virtual Environments
venv/
env/

# Ignore Python Cache
__pycache__/

# Ignore SQLite Database
*.sqlite3

# Ignore Logs
*.log

# Ignore Media and Static Files
media/
